/* Media query untuk perangkat dengan lebar layar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
    body {
        background-position: right bottom;
        position: relative;
    }

    #header h1::first-letter {
        font-size: 60px;
    }

    #header h1 {
        font-size: 40px;
        top: 70px;
        left: 25px;
    }

    #header h2 {
        top: 140px;
        left: 25px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

    #header hr {
        width: 120px;
        top: 150px;
        left: 175px;
    }

    #about nav,
    #header nav {
        position: absolute;
        top: 20px;
        right: 15px;
    }

    nav .offcanvas-title {
        text-decoration: underline;
    }

    nav .offcanvas-title::first-letter {
        font-size: 20px;
    }

    #about #nav_dekstop,
    #header #nav_dekstop {
        display: none;
    }

    .sosial_media {
        display: inline-block;
        top: 180px;
        left: 50px;
    }

    .footer {
        text-align: left;
        padding-left: 20px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    /* About */

    #about .h1-nav {
        font-size: 25px;
        top: 30px;
        left: 5px;
        padding: 0px;
        margin: 0px;
    }

    .solid-background-div {
        position: absolute;
        top: 80px;
        width: 90%;
        height: 85%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        margin: 0px 10px;
    }

    .text h3 {
        margin: 0px;
        padding: 0px;
        font-size: 1rem;
    }

    .text p {
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        color: rgb(146, 146, 138);
    }

    .text hr {
        width: 98%;
        margin-top: 10px;
    }

    .content {
        text-align: center;
        max-height: 85%;
        overflow: auto;
    }

    .content img {
        border-radius: 100%;
        width: 150px;
        margin: auto;
    }

    .content .kata {
        /* position: absolute; */
        text-align: center;
        width: 100%;
        /* background-color: #2eff35; */
    }

    .content .kata #content-h1,
    .kata #content-h2 {
        font-size: 15px;
        text-shadow: none;
        top: 5px;
        font-weight: normal;
    }

    .kata hr {
        width: 250px;
        border-top: 5px solid #2eff35;
        border-radius: 10px;
        margin: 10px auto;
    }

    .kata p {
        width: 95%;
        /* background-color: #2eff35; */
        margin: 0px auto;
        padding: 0px 10px;
        text-align: justify;
    }

    /* About */

}


/* Media query untuk perangkat dengan lebar layar antara 769px hingga 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Media query untuk perangkat dengan lebar layar lebih dari 1024px */
@media (min-width: 1025px) {

    #about .navbar,
    #header .navbar {
        display: none;
    }

    .solid-background-div {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 90%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 90px 50px 30px 70px;
        color: white;
    }

    #about nav ul {
        position: absolute;
        top: -310px;
        right: -1050px;
    }

    .content .kata {
        position: absolute;
        width: 70%;
        top: 90px;
        right: 50px;
        text-align: center;
    }

    .content .kata #content-h1 {
        font-size: 20px;
        text-shadow: none;
        font-weight: normal;
        left: 0px;
        margin-top: 10px;
    }

    .kata hr {
        width: 400px;
        border-top: 5px solid #2eff35;
        border-radius: 10px;
        margin: 0px auto;
        margin-bottom: 10px;
    }
}