/* Media query untuk perangkat dengan lebar layar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
    body {
        background-position: right bottom;
        position: relative;
    }

    #header h1::first-letter {
        font-size: 60px;
    }

    #header h1 {
        font-size: 40px;
        top: 70px;
        left: 25px;
    }

    #header h2 {
        top: 140px;
        left: 25px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

    #header hr {
        width: 120px;
        top: 150px;
        left: 175px;
    }

    #header nav {
        position: absolute;
        top: 20px;
        left: 280px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        margin-right: 20px;
        font-family: cursive;
        font-size: 20px;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: white;
    }

    nav a:hover {
        background-color: #828282;
        padding: 10px;
        border-radius: 10px;
        color: greenyellow;
    }

    nav a.active {
        background-color: #828282;
        color: greenyellow;
        border-radius: 20px;
        padding: 5px;
    }

    nav .offcanvas-title {
        text-decoration: underline;
    }

    nav .offcanvas-title::first-letter {
        font-size: 20px;
    }

}

/* Media query untuk perangkat dengan lebar layar antara 769px hingga 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Media query untuk perangkat dengan lebar layar lebih dari 1024px */
@media (min-width: 1025px) {
    #header .navbar {
        display: none;
    }
}