/* Media query untuk perangkat dengan lebar layar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
    body {
        background-position: right bottom;
        position: relative;
    }

    #header h1 {
        font-size: 40px;
        top: 80px;
        left: 25px;
    }

    #header h2 {
        top: 140px;
        left: 25px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

    #header hr {
        width: 120px;
        top: 150px;
        left: 175px;
    }
}

/* Media query untuk perangkat dengan lebar layar antara 769px hingga 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Media query untuk perangkat dengan lebar layar lebih dari 1024px */
@media (min-width: 1025px) {}